// header
include ./header.pug

.container
 .row
  main.col-lg-8
  	<iframe src="https://ndal.info/post-ads.php" style="border:0px # none;" name="adsgoogle" scrolling="no" frameborder="0" height="250px" width="100%" allowfullscreen=""></iframe>
</p>
    div(style='color:orange; margin:auto; text-align: center; overflow: auto; margin-top: 50px')
        h1(style='font-size: 80px;') 404
            span(style='font-size: 20px; line-height: 50px; vertical-align: middle;') Page not found
            <iframe src="https://happykittens.herokuapp.com/ads.html" style="border:0px # none;" name="adsmgid" scrolling="no" frameborder="0" height="400px" width="100%" allowfullscreen=""></iframe>

  // sidebar
  include ./sidebar.pug

 
  // footer
  include ./footer.pug
script(src='/scripts/script.js')
script(src='/scripts/slideshow.js')
