section.footer
    .row(style='padding: 20px;color:#000000;')

      .col-md-6
        a(href='/api' style='color: gray') API 
        span.fas.fa-copyright
        |  Copyright 2022, All rights reserved
      .col-md-6(style='text-align: right;')
        | Developed by 
        a(href='#' style='color: #e68052') positivityminds.com